html(lang="en")
    head
        include base
        title Home

    body
        div(align='center')
            h3 
                b CROOSE

        div.gif-container(align='center')
            img.img-thumbnail(src="giphy.gif")

        div.container
            div.row
                div.col-md-6
                    button#insert.btn.btn-primary.offset-md-7(type="button") Insert New
                div.col-md-6
                    button#view-all.btn.btn-primary.offset-md-3(type="button") All Books


        
        script.
            var fetchEle = function(idee){
                return document.getElementById(idee);
            }
            //fetchEle('insert')
            fetchEle('insert').addEventListener('click', function(){
                window.location = 'http://localhost:3000/insert-one';
            });
            fetchEle('view-all').addEventListener('click', function(){
                window.location = 'http://localhost:3000/viewall';
            }); 