<!DOCTYPE html>
html(lang="en")
    head
        include base
        title Document
    body
        h3(align='center') VIEW ALL

        div.container-fluid
            table.table
                div.row
                    tr
                        th
                            div.col-md-2 Title
                        th
                            div.col-md-2 Author
                        th 
                            div.col-md-2 Published On
                        th
                            div.col-md-2 Price
                        th
                            div.col-md-2 Action
                div.row
                    - each book in data
                        tr
                            td
                                div.col-md-2 
                                a(href='/detail?title='+book.title) #{book.title}
                            td
                                div.col-md-2 #{book.author}
                            - var pubdate = book.publishDate;
                            - pubdate = pubdate.toString().substring(4,15);
                            td
                                div.col-md-2 #{pubdate}
                            
                            td
                                div.col-md-2 #{book.price}
                            td
                                div.col-md-2
                                    a(href='/delete?title='+book.title) delete
                        
                    
                    