<!DOCTYPE html>
html(lang="en")
    head
        include base
        title Document
    body
        h3 VIEW ALL

        div.container
            table.table
                div.row
                    tr
                        th
                            div.col-md-2 head1
                        th
                            div.col-md-2 head2
                        th 
                            div.col-md-2 head3
                        th
                            div.col-md-2 head4
                div.row
                    tr
                        td
                            div.col-md-2 a1
                        td
                            div.col-md-2 a2
                        td
                            div.col-md-2 a3
                        td
                            div.col-md-2 a4