div.insert-div{
    background-color:lightblue;
}

div.update-div{
    background-color: cornsilk;
}

span#messege-span{
    font-size: 11px;
    color: crimson;
}

 div.gif-container{
    margin-top : 50px;
    margin-bottom: 50px;
}

body{
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#insert-btn-container{
    margin-top: 200px;
}

input.file-upload-btn{
    display : none;
}

